body {
  background-color: #f5f1fe;
}

.container {
  max-width: 700px;

  background-color: #f7f3ff;
  box-shadow: 2px -4px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px;
  margin: 60px 0;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}

h1 {
  font-size: 25px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
